@import url(https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css);

body {
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound', sans-serif;
    background-color: #F9FAF3;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}
h3{
    font-weight: 800;
    font-size: 20px;
}
.btn-link {
    display: inline-block;
    padding: 11px;
    width: 80%;
    font-size: large;
    background-color: #F9FAF3;
    color: #F77F63; /* 텍스트 색상 */
    border: 2px solid #F77F63;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
#header {
    padding: 10px;
}
.question{
    padding: 20px;
}

#correct {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: left;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #F9FAF3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#loading {
    width: 0;
    height: 4px;
    top: 10px;
    background-color: #F77F63;
    position: relative;
    transition: width 7s;
}

#firstGo{
    width:25%;
    height: 4px;
    background-color: #F77F63;
}
#qImg{
    position: relative;
    width: 320px;
    height: 320px;
    display: none;
    margin: auto;
}
#check{
    display: none;
    position: absolute;
    float:right;
    width: 30px;
    right: 15%;
    height: 30px;
    margin: -27px 0 0 0;
}
.progress-bar {
    position: relative;
    float: left;
    width: 15%; /* 프로그레스 바의 너비 설정 */
    height: 15px; /* 프로그레스 바의 높이 설정 */
    background-color: #ccc; /* 기본 배경색 설정 */
    border-radius: 7px; /* 원형 모양으로 만들기 */
    margin-left: 4.2%;
}
  
.progress-section {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #F77F63; /* 완료된 섹션의 색상 설정 */ 
    border-radius: 7px; /* 원형 모양으로 만들기 */
}

#gift{
    position: relative;
    width: auto;
    height: 110%;
    margin-top: -2px;
    z-index: 90;
}

#gift-open{
    display: none;
    width: 300px;
    height: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}
#answerText{
    color: #F77F63;
    font-weight: bold;
}
#idonText{
    font-size: small;
    text-decoration: underline;
}

#skeleton {
    margin: auto;
    width: 320px;
    height: 320px;
    background-color: lightgray; /* 회색 배경 색상 */
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 40%, rgba(255, 255, 255, 0) 80%); /* highlight */
    background-repeat: repeat-y;
    background-position: 5px 10px;
    background-size: 100px 100px;
    animation: shine 1s infinite;
}
@keyframes shine {
    to {
        background-position: 100% 10px;
    }
}

#write{
    position:relative;
    text-align: left;
    margin: auto;
    top:100px;
    width: 90%;
}
#writeTitle{
    font-weight: 600;
    font-size: 30px;
}
#writeContent{
    font-weight: 400;
    font-size: 18px;
}
#H{
    font-weight: 800;
    font-size: 25px; 
    color: #EAB9A8
}
#B{
    font-weight: 800;
    font-size: 25px; 
    color: #F4CD4A
}
#D{
    font-weight: 800;
    font-size: 25px; 
    color: #6E6F33
}
#writefoot{
    position: absolute;
    bottom: 10%;
    left: 50%; /* 가운데 정렬을 위해 왼쪽 여백을 50%로 설정 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 이동 */
    margin: auto;
    
}
#goHome{
    width: 100px;
    height: 100px;
    background-color: #F77F63;
    border: 0px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px grey;
  
}
#return{
    position: relative;
    width: 80%;
    height: auto;
    margin:auto;
}