@import url(https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css);

body {
    background-color: #F77F63; /* 분홍색 배경 */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
}

#header {
    background-color: #F77F63; /* 주황색 헤더 배경 */
    padding: 10px;
    padding-top: 25%;
}

h1 {
    color: white;
    font-size: 24px;
}

#content {
    padding: 50px;
}

.btn-link {
    
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.start{
    width: 150px;
    height: auto;
}

#quiz{
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #fff;
}

#title{
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #fff;
}
#cloud{
    position: relative;
    left:120px;
}

#footer{
    position: absolute;
    bottom: 10px;
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #fff;
    right:10px;
}
.home-love{
    position: relative;
    width: 140%;
    display: block; /* 이미지를 가로 중앙 정렬하기 위해 블록 요소로 설정합니다. */
    left: -20%;
    top: -30px;
}